{{define "head"}}<!DOCTYPE html>
<html lang="en">
  <head>
	<title>Final Assault Leaderboard</title>
	<link rel="stylesheet" href="http://finalassault.gnuman.games/style/bulma.css">
	<meta name="author" content="Gnuman">
	<meta name="description" content="Gnuman's Unofficial Final Assault Leaderboard">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<style>
	  table {margin: auto; margin-top: 1em; min-width: 30%}
	  body {margin-top:1em; margin-bottom:1.5em}
	  body,.table th,.table td,td,h1,div.img {text-align: center}
	  td {position:relative}
	  td:nth-child(3),td:nth-child(4) {margin-top:0; margin-bottom:0; padding-top:0; padding-bottom:0; vertical-align:middle}
	  th.name {min-width:170px}
	  .anchor {position:absolute; top: -50vh}
	  .anchor:target + * {color: green}
	</style>
  <body>
	<div class=img><a href="https://phasermm.com" title="Link to official Leaderboard"><img alt="Final Assault Logo" src="http://finalassault.gnuman.games/favicon.ico"></a></div>
	<h1 class=title>Leaderboard</h1>
	<table class=table>
	  <thead>
		<tr><th>Rank<th class=name>Player<th>Platform<th>Links
	<tbody>
{{end}}{{define "body" -}}
		{{range $i, $row := .Players -}}
<tr><td>{{.Rank -}}
		  <td><a class=anchor id="{{.DisplayName}}"></a><a href="#{{.DisplayName}}">{{.DisplayName}}</a><td>{{if (eq .Platform "steam") -}}
			  <a href="{{.GetSteam}}"><img width=30 alt=Steam title=Steam src="http://finalassault.gnuman.games/res/steam-logo.svg"></a>
			  {{- else if (eq .Platform "oculus") -}}
			  <img width=23 alt=Oculus title=Oculus src="http://finalassault.gnuman.games/res/oculus-logo.svg">
			  {{- else if (eq .Platform "vive") -}}
			  <img width=23 alt=Vive title=Vive src="http://finalassault.gnuman.games/res/vive-logo.svg">
			  {{- else -}}
			  {{.Platform}}
			  {{- end -}}
		  <td>{{if .Info -}}
			    {{if .Info.Twitch}}<a title=Twitch href="https://www.twitch.tv/{{.Info.Twitch}}"><img width=18 alt=Twitch src="http://finalassault.gnuman.games/res/twitch-logo.svg"></a> {{end -}}
			    {{if .Info.Youtube}}<a title=Youtube href="https://www.youtube.com/{{.Info.Youtube}}"><img width=25 alt=Youtube src="http://finalassault.gnuman.games/res/youtube-logo.svg"></a> {{end -}}
			    <!--{{if .Info.VRML}}<a title="VRML Profile" href="https://vrmasterleague.com/FinalAssault/Teams/{{.Info.VRML}}">VRML</a>{{end}}-->
			  {{- end}}
{{end}}{{end}}
